footer{
    display:flex;
    justify-content:center;
    gap:40px;
    margin:25px;
    background-color:rgb(78, 78, 78);
    border-radius:20px;
}
.ul {
    font-size:20px;
    color:white;
    margin:30px;
    font-size:15px;
}
ul li{
    padding:5px;
    list-style: none;
}
@media(max-width:600px){
    footer{
        gap:0px;
    }
    .ul{
        font-size:12px;
    }
}

@media(max-width:400px){
    footer{
        padding:20px;
        border-radius:10px;
        padding-left:20px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }
    .ul{
        font-size:10px;
        margin:0px;
    }
    ul li{
        padding:10px;
    }
}
@media(max-width:800px){
    footer{
        margin:0px;

    }
}