.upper2{
    width:100%;
    display:block;
}
.text1{
    display:block;
    text-align:center;
    font-size:20px;
    padding:20px;
    background-color:rgb(246, 239, 239);
}
.multiple-divs {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* desktop */
  gap: 20px;
  width:100%;
}

.container{
    width:100%;
    margin:0 auto;
    padding:40px 20px;
}
.m1{
    background:#f5f5f5;
    border-radius:12px;
    overflow:hidden;
}
.m1 img{
    width:100%;
    display:block;
}
*{
    box-sizing:border-box;
}

@media(max-width:400px){
    .text1{
        font-size:16px;
        padding:12px;
    }
    .container{
        padding:20px 10px;
    }
    .multiple-divs{
        grid-template-columns:1fr;
        gap:16px;
    }
    .m1{
        border-radius:10px;
        width:100%;
        aspect-ratio:3/4;
        border-radius:12px;
        overflow:hidden;
    }
    .m1 img{
        height:100%;
        width:100%;
        display:block;
        object-fit:cover;
    }
}